footer {
	width: 91.1%;
}
.footer-line {
	width: 100%;
	height: 1.9px;
	border: none;
	background-color: black;
}

.address-list > li {
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 19px;
}
