@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.modal-container {
		@apply fixed flex top-0 left-0 w-full h-full bg-black/50 backdrop-blur-[2px]  justify-center items-center 2sm:px-8 z-50;
	}
	.modal-block {
		@apply mx-auto w-[700px] bg-white rounded-[30px] p-[36px] flex flex-col 2xl:w-[500px];
	}
	.modal-title {
		@apply text-my-orange font-bold text-6xl font-montserrat leading-[59px] mb-10 2xl:text-4xl 3sm:text-[7vw] 3sm:mb-[4vw] 4sm:mb-[2vw] 4sm:leading-[8vw] 4sm:text-[6vw];
	}
	.modal-text {
		@apply 2xl:text-xl font-montserrat text-3xl 3sm:text-[4vw] 4sm:leading-[6vw];
	}
	.modal-text-bold {
		@apply text-[#000000B2] font-medium mb-8 3sm:mb-[5vw] 4sm:mb-[3vw];
	}
	.modal-form {
		@apply flex flex-col;
	}
	.modal-input {
		@apply text-xl border-2 border-my-orange py-[10px] px-[20px] rounded-[30px] font-montserrat mb-7 3sm:text-base 3sm:mb-6 4sm:mb-[5vw] 4sm:py-[2vw] 4sm:text-sm;
	}
	.modal-btn {
		@apply text-3xl font-montserrat rounded-[30px] bg-my-orange text-white py-[12px] px-5 mb-8 mt-3 3sm:text-xl 4sm:text-[4vw] 4sm:py-[2vw] 2sm:text-2xl 4sm:mt-[2vw] 4sm:mb-[4vw];
	}
	.modal-footer {
		@apply text-my-orange mx-auto text-xl font-semibold cursor-pointer 4sm:text-[4vw];
	}
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
	@apply m-0 p-0 list-none font-['Source_Sans_Pro'] box-border scroll-smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	appearance: none !important;
	margin: 0 !important;
}

::-webkit-scrollbar {
	display: none;
}

input:focus {
	outline: none;
}
