@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
	@apply m-0 p-0 list-none font-['Source_Sans_Pro'] box-border scroll-smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	appearance: none !important;
	margin: 0 !important;
}

::-webkit-scrollbar {
	display: none;
}

input:focus {
	outline: none;
}
